<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink = "/anunturi">Anunturi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#"
           id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Contul meu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf = "authenticated"><a class="dropdown-item" routerLink = "/anunturilemele">Anunturile mele</a></li>
            <li *ngIf = "authenticated"><a class="dropdown-item" routerLink = "/setari">Setari</a></li>
            <li *ngIf = "!authenticated"><a class="dropdown-item" routerLink  = "/login">Intra in cont</a></li>
            <li *ngIf = "authenticated"><button class="dropdown-item"  type="submit" (click) = "onLogOut()">Iesi din cont</button></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
         <button class="btn btn-light me-2" (click) = "onAddClick()">Adauga anunt</button>
      </span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<notifier-container></notifier-container>
