<section class="First-head-section">
    <div class="cinesuntem">
        <div class="container">
            <div class="row">
                <div class="first col-md-12 col-lg-8 box">
                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <img class="img-fluid"
                            src = {{anunt?.image}}>
                    </div>
                    <br>
                </div>

                <div class="second col-md-12 col-lg-4 box">

                    <!-- De completat cuu date -->

                    <fieldset>
                        <h1>Am pierdut caine in zona KM 4-5</h1>

                        <ul>
                            <li>{{anunt?.species}}</li>
                            <li>{{anunt?.city}},{{anunt?.county}}</li>
                        </ul>

                    </fieldset>
                    <button class="button" (click) = "onDeleteAnunt()">
                        Stergere
                    </button>
                    <button class="button">
                        Actualizare
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="descriere">
    <div class="container">
        <!-- De completat cuu date -->
        <h1>Descriere</h1>
        <p>{{anunt?.description}}</p>
    </div>

</section>